.about_photo{
    margin-left: 4rem;
}
.about_container{
    display: flex;
    gap: 17rem;
}
.my_picture > img{
    width: 25rem;
    text-align: center;
    border-radius: 15px;
    transform: rotate(10deg);
    transition: var(--normal-transition);
}
.my_picture > img:hover{
    transform: rotate(0deg);
}
.card{
    border: 1px solid var(--color-primary);
    background: var(--color-accent);
    padding: 1rem 1.5rem;
    border-radius: 15px;
    text-align: center;
    width: 9rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    transition: var(--normal-transition);
}
.card:hover{
    background: var(--color-background);
}
.about_header {
    display: flex;
    gap: 3rem;
}
.content >h6{
    margin-top: 0.5rem;
}
.icon > svg{
    color: white;
    font-size: 2rem;
}
.blue_square{
    width: 25rem;
    height: 25.8rem;
    border-radius: 15px;
    background: var(--color-primary);
    position: absolute;
}
.describe_me {
    display: flex;
    font-weight: 100;
    width: 75%;
    padding: 1rem 0;
    line-height: 2.25rem;
}



@media screen and (max-width:1300px) {
    .about_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 0 2rem;
    }
    .about_header {
        justify-content: space-between;
    }
}
@media screen and (max-height: 768px) {
    .about_container{
        gap: 13rem;
    }
}
@media screen and (max-width: 600px) {
    .about_photo {
        margin-left: 0rem;
    }

    .my_picture>img {
        transform: rotate(0deg);
    }

    .about_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 0 2rem;
    }

    .about_header {
        gap: 1rem;
    }

    .card {
        max-width: 7.7rem;
    }

    .describe_me {
        margin: auto;
        text-align: center;
        width: 90%;
    }


}
